<div>
  <h1>ACIM Random Verse Picker</h1><br>
</div>
<div>
  <%= button_to "GO", @acim_youtube_link, form: {target: '_blank'} %>
</div>
<div>
  <p class="disclaimer-text">WARNING: Pressing this button may forever alter the course of your life. We and ACIM are not responsible for you quitting your job, becoming enlightened, or leaving the country to perform miracles. We are not responsible if you change your name, grow you hair, or develop bad BO. We are not to be held liable for the cost of ecstatic dance festivals, trips to India or the Middle East, or any risk involved in contacting nonphysical beings. The reader/listener of the words that follow assumes full responsibility for their own ego and whatever resistance it may offer up. Good luck!</p>
</div>

