<div>
  <h1>ACIM Random Verse Picker</h1><br>
</div>
<div>
  <iframe width="560" height="315" src="@<%= @acim_youtube_link %>" title="ACIM video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <%= button_to "GO", @acim_youtube_link, form: {target: '_blank'} %>
</div>

