body {
  display: flex;
  justify-content: center;
  height: 100%;
}

.center {
  text-align: center;
}

.call-to-action-btn {
  height: 100px;
  width: 170px;
  margin-bottom: 60px;
  background-color: #170a3d;
  border-color: #dfa013;
  color: #dfa013;
  font-size: 28px;
  font-family: inherit;
}

.disclaimer-text {
  font-size: 10px;
}
