body {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100%;
}

div {
  text-align: center;
}

h1 {
  font-size: 4.5rem;
}

.call-to-action-btn {
  height: 100px;
  width: 170px;
  background-color: #170a3d;
  border-color: #dfa013;
  color: #dfa013;
  font-size: 3.1rem;
  font-family: inherit;
}

.disclaimer-text {
  font-size: 1rem;
  text-align: left;
}
