body {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100%;
}

div {
  text-align: center;
}

h1 {
  font-size: 4.5rem;
}

.cta {
  display: inline-block;
  height: 100px;
  width: 170px;
  background-color: #170a3d;
  border: 2px solid #dfa013;
  color: #dfa013;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  font-size: 3.1rem;
  font-family: inherit;
  cursor: pointer;
}

.cta:hover {
  background-color: #dfa013;
  color: #170a3d;
}


.disclaimer-text {
  font-size: 1rem;
  text-align: left;
  padding: 0px 12px;
}
